a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
input,
textarea,
img,
video,
object {
  box-sizing: border-box;
}

body {
  min-width: 1200px;
  max-width: 1400px;
  margin: 0 auto;
}
.btn {
  outline: none;
  padding: 0.5em 1em;
  border-radius: 0.3em;
  border: 1px solid #ddd;
  cursor: pointer;
  background-color: #fff;
  margin: 10px;
  color: #666;
}
